<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Connect ETN to Discord</title>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <p>Would you like to pair ETN and Discord?  If so, please <a href="https://discord.com/api/oauth2/authorize?client_id=999817950880075949&redirect_uri=http%3A%2F%2Fdiscord.eigentrust.net%2Fauthorize_discord&response_type=code&scope=identify">click here</a>.</p>
        {% endblock %}
    </body>
</html>
