<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <script>
            function getUrlParameters() {
                var out = {};
                var str = window.location.search.replace("?", "");
                var subs = str.split(`&`).map((si)=>{var keyVal = si.split(`=`); out[keyVal[0]]=keyVal[1];});
                return out;
            }

            function login(){
                var username = document.getElementById("username").value;
                var password = document.getElementById("password").value;
                var id = getUrlParameters()["id"];
                var nonce = getUrlParameters()["nonce"];
                var data = {"username": username, "password": password, "id": id, "nonce": nonce};

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function(){
                    if(this.readyState == 4 && this.status == 200){
                        document.getElementById("notice").innerHTML = "Success";
                        document.getElementById("notice").style = "color: green;";
                        document.location.href = "/connected.html";
                    }else if(this.readyState == 4 && this.status == 403){
                        document.getElementById("notice").innerHTML = this.responseText;
                        document.getElementById("notice").style = "color: red;";
                    }else if(this.readyState == 4 && this.status == 404){
                        document.getElementById("notice").innerHTML = this.responseText;
                        document.getElementById("notice").innerHTML += " <a href='https://discord.com/api/oauth2/authorize?client_id=999817950880075949&redirect_uri=http%3A%2F%2Fdiscord.eigenkarma.net%2Fauthorize_discord&response_type=code&scope=identify'>Click here to restart.</a>";
                        document.getElementById("notice").style = "color: red;";
                    }else if(this.readyState == 4) {
                        document.getElementById("notice").innerHTML = "An unknown error occurred...";
                        document.getElementById("notice").style = "color: red;";
                    }
                }
                xhttp.open("POST", "http://discord.eigenkarma.net/connect", true);
                xhttp.setRequestHeader("Content-type", "application/json");
                xhttp.setRequestHeader("Accept", "text/plain");
                xhttp.send(JSON.stringify(data));
            }

            function addListeners(){
                var username = document.getElementById("username")
                var password = document.getElementById("password")

                function click(event){
                    if(event.key === "Enter"){
                        event.preventDefault();
                        document.getElementById("login").click();
                    }
                }

                username.addEventListener("keypress", click);
                password.addEventListener("keypress", click);
            }
        </script>
    </head>
    <body onload="javascript:addListeners();">
        {% extends "template.html" %}
        {% block content %}

        <p>Would you like to pair EKN and Discord?  If so, please sign in:</p>
        <span id="notice"></span>
        <table>
            <tr>
                <td>Username:</td>
                <td><input id="username" type="text"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input id="password" type="password"></td>
            </tr>
        </table>
        <button class="btn btn-primary" id="login" onclick="javascript:login()">Connect Discord</button>
        <br>
        <a href="https://www.eigenkarma.net/register.php">Register</a>
          
        {% endblock %}
    </body>
</html>
